@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  background-color: white;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}

app{
  display: flex; /* preenche a tela toda*/
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tabela{
  border-collapse: collapse;
  border: gray 1px solid;
  border-top: gray;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 100px;
}

h1{
  font-size: 35px;
  text-align: center;
  font-style: initial;
  font-weight: bold;
}

.Cabeçalho{
  font-size: 20px;
  font-style: oblique;
}

.Corpo{
  font-weight: bold;
}